/ShopTARge24/.vs/ShopTARge24/DesignTimeBuild
/TestingTARge24/.vs/TestingTARge24/FileContentIndex
/TestingTARge24/.vs/TestingTARge24/CopilotIndices/17.14.1290.42047
/TestingTARge24/.vs/TestingTARge24/v17
/TestingTARge24/.vs/TestingTARge24/v17
/TestingTARge24/.vs/TestingTARge24/CopilotIndices/17.14.1290.42047
TestingTARge24/TestingTARge24/obj/Debug/net9.0/TestingTARge24.AssemblyInfo.cs
TestingTARge24/TestingTARge24/obj/Debug/net9.0/TestingTARge24.AssemblyInfoInputs.cache
